body {
  font-family: sans-serif;
  background-color: beige;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: auto;
  margin-bottom: 50px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  text-align:center;
}

ul li {
  display:inline;
}

ul li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111;
}

div {
  width: 600px;
  margin: auto;
}

.List li {
  list-style-type: none;
  padding: 10px;
  font-family: "Fira Code", serif;
}

.Entry {
  border: 2px solid black;
  margin: 3px 0;
  background-color: lightgrey;
}

.Comments-button {
  font-size: 12px;
  margin-left: 25px;
  margin-bottom: 5px;
}

.Comments {
  max-height: 400px;
  overflow: auto;
}

.Comment-body {
  font-size: 12px;
  padding: 10px;
  width: 95%;
  margin-bottom: 5px;
  border: 3px dashed grey;
  text-indent: 20px;
}